@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
          to bottom,
          transparent,
          rgb(var(--background-end-rgb))
  )
  rgb(var(--background-start-rgb));
}

.primary-button {
  @apply rounded bg-amber-300 text-black py-2 px-4 shadow outline-none
  hover:bg-amber-400  active:bg-amber-500;
}
.default-button {
  @apply rounded bg-gray-100 py-2  px-4 text-black shadow outline-none
  hover:bg-gray-200  active:bg-gray-300
  dark:text-white dark:bg-gray-800 dark:hover:bg-gray-700;
}


/* Header */
.header{
  @apply flex justify-between items-center;
  .header-image {
    @apply h-[100px] w-[150px];
  }
  .header-main {
    @apply flex justify-between items-center;
  }
  .header-home-link{
    @apply flex items-center;
  }
  .header-home-link p,
  .header-dranken-link p,
  .header-bestelling-link p {
    @apply  mx-[5px] my-0 font-bold;
  }
  .header-bestelling-link span {
    @apply mr-[5px];
  }
}


/* DrankenPage */
.dranken{
  @apply flex;
  .dranken-grid{
    @apply grow grid grid-cols-1 md:grid-cols-2 lg:grid-cols-5 gap-5 p-5;
  }
  .dranken-sidebar{
    @apply w-[300px] p-5 border-t border-l border-solid;
  }
}

/* DrankenCard */
/*DrankenCard.drank-card {*/
/*  @apply mb-5 block rounded-lg border-gray-200 border-2 p-5;*/
/*  .drank-card-name{*/
/*    @apply text-3xl font-bold;*/
/*  }*/
/*  .drank-card-button{*/
/*    @apply bg-amber-300 rounded-lg px-3 py-2;*/
/*  }*/
/*}*/

.drank-card {
  position: relative;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.drank-card-header {
  text-align: center;
  font-size: xx-large;
  font-weight: bold;
  margin-bottom: 10px;
}

.bg-red{
  background-color: red;
}

.bg-green{
  background-color: green;
}

.drank-card-name {
  padding: 10px;
  margin: 0;
  color: black;
}

.drank-card-image {
  width: 90%;
  height: auto;
  max-height: 150px;
  border-radius: 20px 20px;
  object-fit: cover;
}

.text-red-500 {
  text-align: center;
  color: red; /* Default color */
  font-size: larger;
  font-weight: bold;
}

.text-green-500 {
  text-align: center;
  color: green; /* Default color */
  font-size: larger;
  font-weight: bold;

}

.drank-card-button {
  width: 100%;
  padding: 10px;
  background-color: green;
  color: black;
  border: none;
  border-radius: 0 0 10px 10px;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  left: 0;
}

.drank-card-content {
  padding-bottom: 50px; /* Adjust button height + padding as needed */
}

.drank-card-button:hover {
  background-color: darkgreen; /* Change color on hover */
}


/* BestellingSidebar */

/* BestellingSidebarItem */
.bestelling-sidebar-item {
  @apply flex flex-col justify-between items-start border mb-2.5 p-2.5 border-solid border-[#ddd];
  /* Align items to the left */
}
.bestelling-sidebar-item-name {
  @apply font-[bold];
}
.bestelling-sidebar-item-aantal {
  @apply flex justify-between w-full items-center;
  /* Take full width */
}
.bestelling-sidebar-item-subtract-button,
.bestelling-sidebar-item-add-button {
  @apply cursor-pointer text-white rounded mr-[5px] px-2.5 py-[5px] border-[none];
}
.bestelling-sidebar-item-subtract-button {
  @apply bg-[red];
}
.bestelling-sidebar-item-add-button {
  @apply bg-[green];
}
.bestelling-sidebar-item-prijs {
  @apply flex justify-between items-end w-full mt-2.5;
  /* Align items to the right */
  /* Take full width */
}
.bestelling-sidebar-item-prijs-label {
  @apply mr-[5px];
}
.bestelling-sidebar-item-prijs-total {
  @apply font-[bold];
}

.bestelling-sidebar-header {
  font-size: x-large;
}

.bestelling-sidebar-total {
  font-size: xx-large;
  font-weight: bold;
}

.beursoverzicht {
  background-color: white;
  background-image: url('/public/images/chiro_beer/ChiroBeerveldeBeer_bier.svg');
  /* Adjust background properties as needed */
}





.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: 20px;
  padding: 20px;
  width: 300px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.card-header h2 {
  margin: 0;
  color: #333;
}


.card-footer p {
  font-weight: bold;
}